@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Shadows+Into+Light&display=swap');

.App {
  width: 100%;
  height: auto;
  background-color: #162447;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
/* background-color: #162447; */
/*   background-color: #413C69; */

/* Body section */
.container__body {
  color: white;
  width: 100%;
  height: auto;
  padding: 20px 0px 50px;
  border: solid 1px rgb(209, 209, 209, 0.5);
  box-shadow: 0px 0px 10px rgb(214, 186, 191);
  margin-left: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #413C69;
}

.container__academy {
  width: 80%;
  height: 100%;
}

.container__academy h1 {
  color: #EAB9C9;
  font-size: 40px;
  text-align: center;
}

.container__academy h2, h4{
  color: #EAB9C9;
}

.container__academy span {
  color: rgb(207, 206, 206);
  margin-top: 5px;
}

.linkText {
  color: white;
  text-decoration: none;
}

.container__academy a{
  color: white;
  font-size: 18px;
}

.container__body hr {
  width: 50%;
  margin-left: 0px;
}

.container__body h4 {
  margin-bottom: 10px;
}

.container__body p {
  margin-top: 0px;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px){
  .container__body {
    padding: 50px 0px;
  }

  .container__academy {
    width: 95%;
    padding: 0px 5px;
  }
}