.btn__primary{
  position: relative;
  overflow: hidden;
  border: none;
  background: linear-gradient(90deg, var(--color-tertiary), var(--color-tertiary-dark), var(--color-tertiary));
  transition: background-position 0.8s ease;
  background-size: 200%;
  background-position: left;

  padding: 5px 10px;
  border-radius: 8px;
  margin: auto;
  height: 45px;
  width: 100%;
  max-width: 300px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover{
    background-position: right;
  }
}

.contact__form{
  margin-bottom: 10px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  color: white;

  .form__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100vw;
    gap: 24px;

    .form__title{
      text-align: center;
      margin-bottom: -10px;
    }

    input, textarea{
      font-family: "Overpass", sans-serif;
    }

    .message__error{
      width: 95%;
      color: var(--color-tertiary-dark);
      text-align: left;
      margin-bottom: 5px;
      margin-top: -20px;
    }

    .input__cont{
      position: relative;
      width: 100%;

      .labelText{
        position: absolute;
        top: 24px;
        left: 15px;
        transform: translateY(-50%);
        pointer-events: none;
        transition: .3s;
      }

      .input__form{
        position: relative;
        width: 95%;
        color: white;
        border-radius:5px;
        padding: 15px 0px 15px 10px;
        background-color: transparent;
        border: 1px solid var(--color-tertiary);
        outline: none;

        &:focus{
          background-color: transparent;
          border: 2px solid var(--color-tertiary);
          box-shadow: 3px 3px 8px var(--color-tertiary-shadow);
        }

        & ~ .labelText{
          padding: 0 5px;
          background-color: var(--color-secondary);
        }

        &:focus ~ .labelText{
          top: 0;
          padding: 0px 5px;
          background-color: var(--color-secondary);
        }
      }

      .input__validate{
        & ~ .labelText{
          top: 0;
        }
      }

      .input__error{
        position: relative;
        width: 95%;
        border-radius:5px;
        padding: 15px 0px 15px 10px;
        background-color: var(--color-secondary);
        outline: none;
        border: 2px solid var(--color-tertiary-dark);

        & ~ .labelText{
          color: var(--color-tertiary);
          background-color: var(--color-secondary);
          padding: 4px;
        }
        
        &:focus{
          background-color: transparent;
          border: 2px solid var(--color-tertiary-dark);
          box-shadow: 3px 3px 8px var(--color-error-shadow);
        }

        &:focus ~ .labelText{
          color: var(--color-tertiary-dark);
          top: 0;
          padding: 0 5px;
          background-color: var(--color-secondary);
        }
      }

      .textarea__form{
        position: relative;
        background-color: transparent;
        border: 1px solid var(--color-tertiary);
        border-radius: 5px;
        padding: 15px 0px 5px 10px;
        width: 95%;
        color: white;
        resize: none;
        min-height: 100px;
        max-height: 300px;
        outline: none;

        &:focus{
          background-color: transparent;
          border: 2px solid var(--color-tertiary);
          box-shadow: 3px 3px 8px var(--color-tertiary-shadow);
        }

        &:focus ~ .labelText{
          top: 0;
          padding: 0px 5px;
          background-color: var(--color-secondary);
        }

        & ~ .labelText{
          padding: 5px;
          background-color: var(--color-secondary);
        }
      }

      .textarea__error{
        position: relative;
        border: 2px solid var(--color-tertiary-dark);
        border-radius: 5px;
        background-color: var(--color-secondary);
        padding: 15px 0px 15px 10px;
        width: 95%;
        resize: none;
        min-height: 100px;
        max-height: 300px;
        outline: none;

        & ~ .labelText{
          color: var(--color-tertiary);
          background-color: var(--color-secondary);
          padding: 0px;
          top: 20px;
        }

        &:focus{
          background-color: transparent;
          border: 2px solid var(--color-tertiary-dark);
          box-shadow: 3px 3px 8px var(--color-error-shadow);
        }

        &:focus ~ .labelText{
          color: var(--color-tertiary-dark);
          top: 0;
          padding: 0 5px;
          background-color: var(--color-secondary);
        }
        
      }
    }
  }
}

@media (width >= 768px){
  .input__cont{
    width: 80%;
  }
}
@media (width >= 1024px){
  .input__cont, .message__error{
    max-width: 70%;
  }
}