/* Navbar */
.container__navbar {
  width: auto;
  height: 80px;
  margin: 10px 20px;
  border-radius: 5px;
  font-size: 28px;
  font-weight: bold;
  background-color: var(--color-secondary);
  box-shadow: 0px 0px 15px var(--color-tertiary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
.navbarLink:hover{
  color: var(--color-tertiary);
}

@media screen and (max-width: 425px){
  .container__navbar{
    margin: 10px;
    font-size: 20px;
  }
}