/* Sidebar */
.container__sidebar--body {
    padding: 10px 40px;
    height: auto;
    width: auto;
    display: flex;
}
  
.container__sidebar {
  width: 40%;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  background-color: var(--color-secondary);
  box-shadow: 0px 0px 15px var(--color-tertiary);
}
  
.myphoto {
  height: auto;
  width: 140px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(209, 209, 209, 0.5);
  display: flex;
}
  
.container__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.container__info span{
  color: var(--color-span);
  font-size: 18px;
  margin-top: -14px;
  margin-bottom: 20px;
}

.container__info h2{
  color: var(--color-tertiary);
}

.container__info--p{
  font-size: 16px;
  font-weight: bold;
  color: var(--color-tertiary);
}

.container__info--p a{
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
}

.container__icon-text{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.icons{
  color: white;
  height: 20px;
}

.iconLinkedIn{
  padding-right: 10px;
}

.container__icon-text:hover .iconLinkedIn, .container__icon-text:hover .container__info--p a{
  color: var(--color-tertiary);
}

.container__info--cont a:hover{
  color: var(--color-tertiary);
}  
  
hr {
  width: 180px;
  border-color: var(--color-tertiary);
}
  
.container__info--text{
  font-size: 16px;
  padding: 0px 10px;
  text-decoration: none;
  color: white;
}
  
.container__knowledge--list {
  width: 90%;
  height: auto;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px 10px;
}

.container__knowledge--list p{
  font-size: 16px;
  display: flex;
  background-color: rgb(209, 209, 209, 0.5);
  border-radius: 5px;
  padding: 4px 10px 0px 10px;
}

.iconEnglish {
  color: var(--color-tertiary);
  cursor: pointer;
}

.container__info--cont a{
  padding: 0 15px;
}  

@media screen and (max-width: 1024px){
  .container__sidebar{
    width: 40%;
  }
}

@media screen and (max-width: 768px){
  .container__sidebar {
    width: 40%;
  }
}

@media screen and (max-width: 425px){
  .container__sidebar--body {
    flex-direction: column;
    padding: 0px;
    margin: 10px;
  }

  .container__sidebar {
    width: 95%;
  }
}